
<ol>
    @foreach (var option in Options)
    {
        <li>@option</li>
    }
</ol>

<div class="form-group">
    <label>Вариант ответа</label>
    <InputText @bind-Value=currentOption class="form-control" />
</div>

<div class="form-group">
    <button type="button" @onclick=AddOption class="btn btn-info">Добавить вариант</button>
</div>

@code {
    [Parameter]
    public List<string> Options { get; set; }

    private string currentOption = "";

    private void AddOption()
    {
        Options.Add(currentOption);
        currentOption = "";
    }
}
