@using Questionnaire.Blazor.Models.Questions

<TextInputGroup @bind-ValueInput=label />
<div class="form-group">
    <label class="form-check-label">Ввести свои варианты ответа</label>
    <input type="checkbox" @onclick=CheckAnswerOptions class="ml-2 form-check-label"/>
</div>
@if (addAnswerOptions)
{
    <AnswerOptions Options=@options />
    <button class="btn btn-success" @onclick=CreateEnumerationQuestion>Создать</button>
}
else
{
    <SelectGroup @bind-ValueInput=type AllowedOptions=@types Label="Тип вопроса" />
    <button class="btn btn-success" @onclick=CreateQuestion>Создать</button>
}

@code {
    private bool addAnswerOptions;
    private string label = "";
    private string type;

    private List<string> options;

    private Dictionary<string, string> types;

    [Parameter]
    public QuestionModel CurrentQuestion { get; set; }

    protected override void OnInitialized()
    {
        types = new()
        {
            { "Текст", "text" },
            { "Дата время", "datetime-local" },
            { "Номер", "number" },
            { "Перечисление", "number" },
            { "Чекбокс", "checkbox" },
        };
        type = types.FirstOrDefault().Value;
        options = new();
    }

    private void CheckAnswerOptions()
    {
        addAnswerOptions = !addAnswerOptions;
        StateHasChanged();
    }

    private void CreateEnumerationQuestion()
    {
        
    }

    private void CreateQuestion()
    {
        CurrentQuestion = new();
    }
}
