@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Infrastructure.Conventions

<EditForm Model=CurrentQuestion OnValidSubmit=CreateQuestion class="my-3 col-6">
    <div class="form-group">
        <label>Отображаемое имя вопроса</label>
        <InputText @bind-Value=CurrentQuestion.DisplayName class="form-control" />
    </div>

    <div class="form-group">
        <label>Имя вопроса в json</label>
        <InputText @bind-Value=CurrentQuestion.JsonName class="form-control" />
    </div>

    <InputRadioGroup @bind-Value=CurrentQuestion.QuestionType class="form-check d-block">
        Тип вопроса
        <div>
            <InputRadio Value="QuestionType.Text" id="Text" />
            <label for="Text">Текст</label>
        </div>
        <div>
            <InputRadio Value="QuestionType.Boolean" id="Boolean" />
            <label for="Boolean">Чекбокс</label>
        </div>
        <div>
            <InputRadio Value="@QuestionType.Number" id="Number" />
            <label for="Number">Номер</label>
        </div>
        <div>
            <InputRadio Value="@QuestionType.DateTime" id="DateTime" />
            <label for="DateTime">Дата время</label>
        </div>
        <div>
            <InputRadio Value="QuestionType.Enumeration" id="Enumeration" />
            <label for="Enumeration">Перечисление</label>
        </div>
    </InputRadioGroup>

    @if (AddAnswerOptions)
    {
        <AnswerOptions Options=@CurrentQuestion.Options />
    }

    <button class="btn btn-success">Добавить вопрос</button>
</EditForm>

@code {
    [Parameter]
    public QuestionModel CurrentQuestion { get; set; }

    [Parameter]
    public List<QuestionModel> Questions { get; set; }

    [Parameter]
    public Func<Task> CreateQuestion { get; set; }

    private bool AddAnswerOptions => CurrentQuestion.QuestionType == QuestionType.Enumeration;
}
