@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Models.Questions.Tags

<div class="form-group col-6">
    @foreach (var tag in Question.HtmlTags)
    {
        @switch (tag.TagName)
        {
            case TagName.Label:
            <label>@tag.Value</label>
                break;

            case TagName.Input:
            <input @attributes=tag.Attrubutes @bind-value=Answer.Value />
                break;

            case TagName.Select:
            <select @attributes=tag.Attrubutes @bind=Answer.Value>
                @foreach (var option in tag.ChildTags)
                    {
                        Answer.Value = option.Value;
                        <option @attributes=option.Attrubutes>@option.Value</option> 
                }
            </select>
                break;
        }
    }
</div>

@code {
    [Parameter]
    public QuestionModel Question { get; set; }

    [Parameter]
    public AnswerModel Answer { get; set; }
}
