@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions

@if (Questionnaire.Questions != null)
{
    @foreach (var question in Questionnaire.QuestionAnswers)
    {
        @Display(question)
    }
}

@code {
    [Parameter]
    public QuestionnaireModel Questionnaire { get; set; }

    private RenderFragment Display(QuestionAnswerModel questionAnswer)
    {
        return __builder =>
        {
            @if (questionAnswer.Question.QuestionType == QuestionType.Custom)
            {
                <div class="border border-info p-3 mb-3">
                    <h3>@questionAnswer.Question.CustomType.DisplayName</h3>
                    @foreach (var subQuestionAnswer in questionAnswer.QuestionAnswers)
                    {
                        @Display(subQuestionAnswer)
                    }
                </div>
            }
            else
            {
                <QuestionDisplay Answer=questionAnswer.Answer HtmlTags=questionAnswer.HtmlTags />
            }
        };
    }
}
