
<div class="form-group">
    <label>@Label</label>
    <input type=@InputType value=@Value class="form-control col-4" @oninput=SetValue />
</div>

@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string InputType { get; set; }

    [Parameter]
    public EventCallback<string> ValueInputChanged { get; set; }

    private async Task SetValue(ChangeEventArgs eventArgs)
    {
        if (Value == eventArgs.Value.ToString())
        {
            Value = eventArgs.Value.ToString();
            await ValueInputChanged.InvokeAsync(Value);
        }
    }
}
