@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Models.Questions.Tags

<div class="form-group col-6">
    @Display(Question.HtmlTags)
</div>

@code {
    [Parameter]
    public QuestionModel Question { get; set; }

    private RenderFragment Display(List<HtmlTag> HtmlTags)
    {
        return __builder =>
        {
            @foreach (var tag in HtmlTags)
            {
                @switch (tag.TagName)
                {
                    case TagName.Label:
                        <label @attributes=tag.Attrubutes>
                            @tag.Value
                        </label>
                        break;

                    case TagName.Input:
                        <input @attributes=tag.Attrubutes @bind-value=Question.AnswerToCurrentQuestion.Value />
                        break;

                    case TagName.Select:
                        <select @attributes=tag.Attrubutes @bind=Question.AnswerToCurrentQuestion.Value>
                            @foreach (var option in tag.ChildTags)
                            {
                                Question.AnswerToCurrentQuestion.Value = option.Value;
                                <option @attributes=option.Attrubutes>@option.Value</option>
                            }
                        </select>
                        break;

                    case TagName.Div:
                        <div @attributes=tag.Attrubutes>
                            @Display(tag.ChildTags)
                        </div>
                        break;
                }
            }
        };
    }
}
