@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Models.Questions.Tags

<div class="form-group col-6">
    @Display(HtmlTags)
</div>

@code {
    [Parameter]
    public AnswerModel Answer { get; set; }

    [Parameter]
    public List<HtmlTag> HtmlTags { get; set; }

    private void ChangeAnswer(ChangeEventArgs args)
    {
        if (args.Value != null)
        {
            Answer.Value = args.Value.ToString();
        }
    }

    private RenderFragment Display(List<HtmlTag> HtmlTags)
    {
        return __builder =>
        {
            @foreach (var tag in HtmlTags)
            {
                @switch (tag.TagName)
                {
                    case TagName.Label:
                        <label @attributes=tag.Attrubutes>
                            @tag.Value
                        </label>
                        break;

                    case TagName.Input:
                        if (Answer.Value == null)
                        {
                            Answer.Value = tag.Value;
                        }
                        <input @attributes=tag.Attrubutes @onchange=ChangeAnswer />
                        break;

                    case TagName.Select:
                        if (Answer.Value == null)
                        {
                            Answer.Value = tag.ChildTags.FirstOrDefault().Value;
                        }

                        <select @attributes=tag.Attrubutes @bind=Answer.Value>
                            @foreach (var option in tag.ChildTags)
                            {
                                <option @attributes=option.Attrubutes>@option.Value</option>
                            }
                        </select>
                        break;

                    case TagName.Div:
                        <div @attributes=tag.Attrubutes>
                            @Display(tag.ChildTags)
                        </div>
                        break;
                }
            }
        };
    }
}
