@using Questionnaire.Blazor.Models
@using System.Linq.Expressions

<div class="form-group col-4">
    <label>@Label</label>
    <select class="custom-select" @oninput=SetValue>
        @foreach (var option in AllowedOptions)
        {
            <option value=@option.Value>@option.Key</option>
        }
    </select>
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public Dictionary<string, string> AllowedOptions { get; set; }

    [Parameter]
    public string ValueInput { get; set; }

    [Parameter]
    public EventCallback<string> ValueInputChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ValueInput = AllowedOptions.FirstOrDefault().Value;
        await ValueInputChanged.InvokeAsync(ValueInput);
    }

    private async Task SetValue(ChangeEventArgs eventArgs)
    {
        if (ValueInput != eventArgs.Value.ToString())
        {
            ValueInput = eventArgs.Value.ToString();
            await ValueInputChanged.InvokeAsync(ValueInput);
        }
    }
}
