
<div class="form-group">
    <label>@Label</label>
    <input type="text" value=@ValueInput class="form-control col-4" @oninput=SetValue />
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string ValueInput { get; set; } = "";

    [Parameter]
    public EventCallback<string> ValueInputChanged { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async Task SetValue(ChangeEventArgs eventArgs)
    {
        if (ValueInput.ToString() != eventArgs.Value.ToString())
        {
            ValueInput = eventArgs.Value.ToString();
            await ValueInputChanged.InvokeAsync(ValueInput);
        }
    }
}
@*@using Questionnaire.Domain.Models

@typeparam Enumeration where Enumeration : struct, System.Enum

<div class="form-group">
    <select class="custom-select" @oninput=SetValue>
        @foreach (var type in Enum.GetValues(typeof(Enumeration)))
        {
            <option value=@type>@type</option>
        }
    </select>
    <label>@Label</label>
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public Enumeration ValueInput { get; set; }

    [Parameter]
    public EventCallback<Enumeration> ValueInputChanged { get; set; }

    private async Task SetValue(ChangeEventArgs eventArgs)
    {
        Enum.TryParse<Enumeration>(eventArgs.Value.ToString(), out var value);

        ValueInput = value;
        await ValueInputChanged.InvokeAsync(ValueInput);
    }
}*@
