@using Questionnaire.Blazor.Areas.Identity
@using Questionnaire.Blazor.Pages.Interviewee.Shared
@using Questionnaire.Blazor.Pages.Root.Shared
@using Questionnaire.Infrastructure.Conventions

@inject TokenProvider TokenProvider

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout=@(layout) />
        </Found>
        <NotFound>
            <LayoutView Layout=@(layout)>
                <p>Не существует страницы по данному адресу.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private Type layout;

    [Parameter]
    public TokenProvider InitialState { get; set; }

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (authenticationState.User.Identity.IsAuthenticated == false)
        {
            NavigationManager.NavigateTo(NavigationLinks.Login);
        }
        else if (authenticationState.User.FindFirst("role").Value == RoleConstants.Admin)
        {
            layout = typeof(AdminLayout);
        }
        else
        {
            layout = typeof(QuestionedLayout);
        }

        TokenProvider.XsrfToken = InitialState.XsrfToken;
    }
}