@page "/root/concreteQuestionnaire"

@using AutoMapper
@using MediatR
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Models.Questions.Tags
@using Questionnaire.Domain.Entities
@using Questionnaire.Infrastructure.Queries.Requests.UniversalQueries

<h3>ConcreteQuestionnaire</h3>
<EditForm Model=@Questionnaire OnSubmit=Send>
    @foreach (var question in questions)
    {
        <QuestionDisplay Question=question Answers=question.Answers />
    }
    <button class="btn btn-success">Отправить</button>
</EditForm>

@code {
    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator mediator { get; set; }

    private QuestionModel[] questions = new QuestionModel[]
    {
        //new()
        //{
        //    DisplayName = "name",
        //    JsonName = "name",
        //    QuestionType = "Number",
        //    QuestionnaireId = 1,
        //}
    };

    private AnswerModel[] answers = new AnswerModel[]
    {
        //new()
        //{
        //    Name = "3",
        //    QuestionnaireId = 1,
        //}
    };

    [Parameter]
    public QuestionnaireModel Questionnaire { get; set; } = new()
    {
        //DisplayName = "DisplayName",
        //JsonName = "m",
    };

    protected override Task OnInitializedAsync()
    {
        var properties = mediator.Send(new GetEntitiesQuery<PropertyEntity>());
        foreach (var question in questions)
        {
            question.Answers = answers
                .Where(answer => answer.QuestionnaireId == question.QuestionnaireId)
                .ToArray();
        }

        return base.OnInitializedAsync();
    }

    private void Send()
    {
        NavigationManager.NavigateTo(NavigationLinks.Questionnaires);
    }
}
