@page "/root/concreteQuestionnaire"
@page "/"

@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Models.Questions.Tags

<h3>ConcreteQuestionnaire</h3>
<EditForm Model=@Questionnaire OnSubmit=Send>
    @foreach (var pair in Questionnaire.QuestionAnswerPairs)
    {
        <QuestionDisplay Question=pair.Key Answer=pair.Value />
    }
    <button class="btn btn-success">Отправить</button>
</EditForm>

@code {
    [Parameter]
    public QuestionnaireModel Questionnaire { get; set; } = new()
    {
        DisplayName = "DisplayName",
        JsonName = "m",
        QuestionAnswerPairs = new()
        {
            {
                new QuestionBase("Введите цифру", "number")
                {
                    Id = 1,
                },
                new Answer("2")
            },
            {
                new QuestionBase("Введите дату", "datetime-local")
                {
                    Id = 1,
                },
                new Answer(DateTime.Now.ToString("s"))
            },
            {
                new QuestionBase("Введите что-нибудь", "text")
                {
                    Id = 1,
                },
                new Answer("text")
            },
            {
                new QuestionBase("Выбери, что сделать", new string[] { "Пукнуть", "Пописать" })
                {
                    Id = 2,
                },
                new Answer()
            },
        },
    };

    private void Send()
    {
        NavigationManager.NavigateTo(NavigationLinks.Questionnaires);
    }
}
