@page "/root/concreteQuestionnaire/{questionnaireId:int}"

@using AutoMapper
@using MediatR
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Models.Questions.Tags
@using Questionnaire.Domain.Entities
@using Questionnaire.Infrastructure.Commands.Requests.UniversalCommands
@using Questionnaire.Infrastructure.Conventions
@using Questionnaire.Infrastructure.Queries.Requests.Properties
@using Questionnaire.Infrastructure.Queries.Requests.UniversalQueries

<EditForm Model=@questionnaire OnSubmit=ChangeQuestionnaire>
    <div class="form-group">
        <label>Имя опроса</label>
        <InputText @bind-Value=questionnaire.DisplayName class="form-control" />
    </div>

    <button class="btn btn-warning">Изменить опросник</button>
</EditForm>

<QuestionForm CurrentQuestion=@currentQuestion CreateQuestion=CreateQuestion />

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Имя вопроса</th>
            <th>Имя вопроса в json</th>
            <th>Тип вопроса</th>
            <th>Варианты ответа</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in questions)
        {
            <tr>
                <td><input type="text" @bind-value=@question.DisplayName class="form-control" /></td>
                <td><input type="text" @bind-value=@question.JsonName class="form-control" /></td>
                <td>@question.QuestionType</td>
                <td>
                    @foreach (var option in question.Options)
                    {
                        <div class="form-group">
                            <input type="text" @bind-value=option.DisplayName class="form-control d-block" />
                            <input type="text" @bind-value=option.JsonName class="form-control d-block" />
                        </div>
                    }
                </td>
                <td>
                    @if (question.QuestionType == QuestionType.Enumeration)
                    {
                        <button class="btn btn-info" @onclick="() => OpenOptionDialog(question)">Добавить вариант</button>
                    }
                    <button class="btn btn-warning" @onclick="() => ChangeQuestion(question)">Изменить</button>
                    <button class="btn btn-danger" @onclick="() => RemoveQuestion(question.Id)">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (addQuestionDialogOpen)
{
    <div class="modal d-block" tabindex="-1" role="dialog" style="display:block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Введите вариант ответа</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick=CancelOptionDialog>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm Model=currentOption>
                        <div class="form-group">
                            <label>Отображаемое имя</label>
                            <InputText @bind-Value=currentOption.DisplayName class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Имя в json</label>
                            <InputText @bind-Value=currentOption.JsonName class="form-control" />
                        </div>
                    </EditForm>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick=CancelOptionDialog>Отмена</button>
                    <button type="button" class="btn btn-danger" @onclick=AddOption>Добавить</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private OptionModel currentOption = new();
    private QuestionModel currentQuestion = new();

    private QuestionnaireModel questionnaire { get; set; } = new();

    private QuestionModel[] questions = Array.Empty<QuestionModel>();

    private bool addQuestionDialogOpen;

    [Parameter]
    public int QuestionnaireId { get; set; }

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    private bool AddAnswerOptions => currentQuestion.QuestionType == QuestionType.Enumeration;

    protected async override Task OnInitializedAsync()
    {
        await UploadQuestionnaires();
    }

    private async Task ChangeQuestionnaire()
    {
        var questionnaireEntity = Mapper.Map<Structure>(questionnaire);
        await Mediator.Send(new CreateOrChangeEntityCommand<Structure>(questionnaireEntity));
    }

    private async Task CreateQuestion()
    {
        currentQuestion.QuestionnaireId = QuestionnaireId;

        if (currentQuestion.QuestionType != QuestionType.Enumeration)
        {
            currentQuestion.Options = null;
        }

        var questionEntity = Mapper.Map<Property>(currentQuestion);
        await Mediator.Send(new CreateOrChangeEntityCommand<Property>(questionEntity));

        await UploadQuestionnaires();
    }

    private async Task ChangeQuestion(QuestionModel question)
    {
        var questionEntity = Mapper.Map<Property>(question);
        await Mediator.Send(new CreateOrChangeEntityCommand<Property>(questionEntity));
    }

    private async Task RemoveQuestion(int questionnaireId)
    {
        await Mediator.Send(new RemoveEntityCommand<Property>(questionnaireId));
        await UploadQuestionnaires();
    }

    private async Task UploadQuestionnaires()
    {
        currentQuestion = new()
        {
            Options = new List<OptionModel>(),
        };

        var questionnaireEntity = await Mediator.Send(new GetEntityQuery<Structure>(QuestionnaireId));
        questionnaire = Mapper.Map<QuestionnaireModel>(questionnaireEntity);

        var properties = await Mediator.Send(new GetPropertiesByQuestionnaireQuery(QuestionnaireId));
        questions = Mapper.Map<QuestionModel[]>(properties);
    }

    private void OpenOptionDialog(QuestionModel question)
    {
        currentQuestion = question;
        addQuestionDialogOpen = true;
    }

    private void CancelOptionDialog()
    {
        addQuestionDialogOpen = false;
    }

    private async Task AddOption()
    {
        currentOption.QuestionId = currentQuestion.Id;
        currentQuestion.Options.Add(currentOption);

        var optionEntity = Mapper.Map<Option>(currentOption);
        await Mediator.Send(new CreateOrChangeEntityCommand<Option>(optionEntity));

        addQuestionDialogOpen = false;

        currentOption = new();
        currentQuestion = new();
    }
}
