@page "/root/concreteQuestionnaire"
@page "/"

@using AutoMapper
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Models.Questions.Tags

<h3>ConcreteQuestionnaire</h3>
<EditForm Model=@Questionnaire OnSubmit=Send>
    @foreach (var pair in questionAnswerPairs)
    {
        <QuestionDisplay Question=pair.Key Answer=pair.Value />
    }
    <button class="btn btn-success">Отправить</button>
</EditForm>

@code {
    [Inject]
    public IMapper Mapper { get; set; }

    private QuestionModel[] questions;
    private AnswerModel[] answers;
    private Dictionary<QuestionModel, AnswerModel[]> questionAnswerPairs { get; set; }
    //= new()
    //{
    //    {
    //        new QuestionModel("Введите цифру", "", "number")
    //        {
    //            Id = 1,
    //        },
    //        new AnswerModel("2")
    //    },
    //    {
    //        new QuestionModel("Введите дату", "", "datetime-local")
    //        {
    //            Id = 1,
    //        },
    //        new AnswerModel()
    //    },
    //    {
    //        new QuestionModel("Введите что-нибудь", "", "text")
    //        {
    //            Id = 1,
    //        },
    //        new AnswerModel("text")
    //    },
    //    {
    //        new QuestionModel("Выбери, что сделать", "", new string[] { "Пукнуть", "Пописать" })
    //        {
    //            Id = 2,
    //        },
    //        new AnswerModel[] { new() }
    //    },
    //};


    [Parameter]
    public QuestionnaireModel Questionnaire { get; set; } = new()
    {
        DisplayName = "DisplayName",
        JsonName = "m",
    };

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }

    private void Send()
    {
        NavigationManager.NavigateTo(NavigationLinks.Questionnaires);
    }
}
