@page "/root/createQuestionnaire/"

@using AutoMapper
@using MediatR
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Domain.Entities
@using Questionnaire.Infrastructure.Commands.Requests.Questionnaires
@using Questionnaire.Infrastructure.Commands.Requests.UniversalCommands
@using AutoMapper.QueryableExtensions
@using Questionnaire.Infrastructure.Conventions

<div class="container-fluid">
    <div class="row justify-content-center">
        <EditForm Model=questionnaire OnValidSubmit=Create class="my-3 col-6">
            <div class="form-group">
                <label>Отображаемое имя опросника</label>
                <InputText @bind-Value=questionnaire.DisplayName class="form-control" />
            </div>

            @foreach (var question in questions)
            {
                <div class="form-group">
                    <label>Отображаемое имя вопроса</label>
                    <InputText @bind-Value=question.DisplayName class="form-control" />
                </div>

                <div class="form-group">
                    <label>Имя вопроса в json</label>
                    <InputText @bind-Value=question.JsonName class="form-control" />
                </div>

                <p>Тип: @question.QuestionType</p>
            }

            <button class="btn btn-success">Создать опросник</button>
        </EditForm>

        <EditForm Model=currentQuestion OnValidSubmit=CreateQuestion class="my-3 col-6">
            <div class="form-group">
                <label>Отображаемое имя вопроса</label>
                <InputText @bind-Value=currentQuestion.DisplayName class="form-control" />
            </div>

            <div class="form-group">
                <label>Имя вопроса в json</label>
                <InputText @bind-Value=currentQuestion.JsonName class="form-control" />
            </div>

            <p>
                <InputRadioGroup @bind-Value=currentQuestion.QuestionType class="form-check d-block">
                    Тип вопроса
                    <div>
                        <InputRadio Value="QuestionType.Text" id="Text" />
                        <label for="Text">Текст</label>
                    </div>
                    <div>
                        <InputRadio Value="QuestionType.Boolean" id="Boolean" />
                        <label for="Boolean">Чекбокс</label>
                    </div>
                    <div>
                        <InputRadio Value="@QuestionType.Number" id="Number" />
                        <label for="Number">Номер</label>
                    </div>
                    <div>
                        <InputRadio Value="@QuestionType.DateTime" id="DateTime" />
                        <label for="DateTime">Дата время</label>
                    </div>
                    <div>
                        <InputRadio Value="QuestionType.Enumeration" id="Enumeration" />
                        <label for="Enumeration">Перечисление</label>
                    </div>
                </InputRadioGroup>
            </p>

            @if (AddAnswerOptions)
            {
                <AnswerOptions Options=@options />
            }

            <button class="btn btn-success">Добавить вопрос</button>
        </EditForm>
    </div>
</div>

@code {
    private List<string> options;

    private QuestionnaireModel questionnaire = new();
    private List<QuestionModel> questions = new();

    private QuestionModel currentQuestion;

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    private bool AddAnswerOptions => currentQuestion.QuestionType == QuestionType.Enumeration;

    protected override void OnInitialized()
    {
        options = new();
        questionnaire = new()
        {
            DisplayName = "",
        };

        currentQuestion = new()
            {
                DisplayName = "",
                JsonName = "",
            };
    }

    private void CreateQuestion()
    {
        currentQuestion.Options = options;
        questions.Add(currentQuestion);
        currentQuestion = new()
        {
            DisplayName = "",
            JsonName = "",
        };
    }

    private async Task Create()
    {
        var questionnaireEntity = Mapper.Map<QuestionnaireEntity>(questionnaire);
        var propertyEntities = Mapper.Map<IEnumerable<PropertyEntity>>(questions);

        await Mediator.Send(new CreateQuestionnaireCommand(questionnaireEntity, propertyEntities));

        questionnaire = new()
        {
            DisplayName = "",
        };
    }
}
