@page "/root/createQuestionnaire/"

@using AutoMapper
@using MediatR
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Domain.Entities
@using Questionnaire.Infrastructure.Commands.Requests.Questionnaires
@using Questionnaire.Infrastructure.Commands.Requests.UniversalCommands
@using AutoMapper.QueryableExtensions

<EditForm Model=questionnaire OnValidSubmit=Create>
    <div class="form-group">
        <label>Отображаемое имя опросника</label>
        <InputText @bind-Value=questionnaire.DisplayName class="form-control" />
    </div>

    <div class="form-group">
        <label>Имя опросника в json</label>
        <InputText @bind-Value=questionnaire.JsonName class="form-control" />
    </div>

    <ul>
        @foreach (var question in questions)
        {
            <li>@question.DisplayName @question.JsonName @question.QuestionType</li>
        }
    </ul>

    <button class="btn btn-success">Создать опросник</button>
</EditForm>

<EditForm Model=currentQuestion OnValidSubmit=CreateQuestion>
    <div class="form-group">
        <label>Отображаемое имя вопроса</label>
        <InputText @bind-Value=currentQuestion.DisplayName class="form-control" />
    </div>

    <div class="form-group">
        <label>Имя вопроса в json</label>
        <InputText @bind-Value=currentQuestion.JsonName class="form-control" />
    </div>

    <div class="form-group">
        <label>Тип вопроса</label>
        <InputSelect @bind-Value=currentQuestion.QuestionType class="custom-select" disabled=@addAnswerOptions>
            <option value="Text" selected>Текст</option>
            <option value="Boolean">Чекбокс</option>
            <option value="Number">Номер</option>
            <option value="DateTime">Дата время</option>
            <option value="Enumeration" selected=@addAnswerOptions>Перечисление</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label class="form-check-label">Ввести свои варианты ответа</label>
        <InputCheckbox @bind-Value=addAnswerOptions class="ml-2 form-check-label" @onclick=SwitchToEnumeration />
    </div>

    @if (addAnswerOptions)
    {
        <AnswerOptions Options=@options />
    }

    <button class="btn btn-success">Создать</button>
</EditForm>
@code {
    private bool addAnswerOptions;
    private List<string> options;

    private QuestionnaireModel questionnaire = new();
    private List<QuestionModel> questions = new();

    private QuestionModel currentQuestion;

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    protected override void OnInitialized()
    {
        options = new();
        questionnaire = new()
        {
            DisplayName = "",
            JsonName = "",
        };

        currentQuestion = new()
        {
            DisplayName = "",
            JsonName = "",
            QuestionType = "Text",
        };
    }

    private void SwitchToEnumeration()
    {
        currentQuestion.QuestionType = "Enumeration";
    }

    private void CreateQuestion()
    {
        currentQuestion.Options = options;
        questions.Add(currentQuestion);
        currentQuestion = new()
        {
            DisplayName = "",
            JsonName = "",
        };
    }

    private async Task Create()
    {
        var questionnaireEntity = Mapper.Map<QuestionnaireEntity>(questionnaire);
        var propertyEntities = Mapper.Map<IEnumerable<PropertyEntity>>(questions);

        await Mediator.Send(new CreateQuestionnaireCommand(questionnaireEntity, propertyEntities));

        questionnaire = new()
        {
            DisplayName = "",
            JsonName = "",
        };
    }
}
