@page "/root/createQuestionnaire/"

@using AutoMapper
@using MediatR
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Services.UserInterfaceDisplay
@using Questionnaire.Domain.Entities
@using Questionnaire.Infrastructure.Commands.Requests.Questionnaires
@using Questionnaire.Infrastructure.Commands.Requests.UniversalCommands
@using AutoMapper.QueryableExtensions
@using Questionnaire.Infrastructure.Queries.Requests.Structures
@using Questionnaire.Infrastructure.Queries.Requests.UniversalQueries
@using System.Collections.Concurrent

<div class="container-fluid">
    <div class="row justify-content-center">
        <EditForm Model=questionnaire OnValidSubmit=Send class="my-3 col-6">
            <p class=@message.CssClass>@message.Text</p>
            <ValidationSummary />
            <DataAnnotationsValidator />

            <div class="form-group">
                <label>Отображаемое имя опросника</label>
                <InputText @bind-Value=questionnaire.DisplayName class="form-control" />
            </div>

            @foreach (var question in questionnaire.Questions)
            {
                <div class="form-group">
                    <label>Отображаемое имя вопроса</label>
                    <InputText @bind-Value=question.DisplayName class="form-control" />
                </div>

                <div class="form-group">
                    <label>Имя вопроса в json</label>
                    <InputText @bind-Value=question.JsonName class="form-control" />
                </div>

                <p>Тип: @question.QuestionType</p>
            }

            <button class="btn btn-success">Создать опросник</button>
        </EditForm>

        <QuestionForm CurrentQuestion=@currentQuestion CreateQuestion=CreateQuestion CustomTypes=nameIdDictionary />
    </div>
</div>

@code {
    private FormMessage message = new();

    private ConcurrentDictionary<string, int> nameIdDictionary = new();
    private QuestionnaireModel questionnaire = new();

    private QuestionModel currentQuestion = new();

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    protected async override Task OnInitializedAsync()
    {
        questionnaire = new()
        {
            DisplayName = "",
            Questions = new(),
        };

        currentQuestion = new()
        {
            Options = new(),
        };

        var structures = await Mediator.Send(new GetEntitiesQuery<Structure>());
        var questionnaires = Mapper.Map<List<QuestionnaireModel>>(structures);
        nameIdDictionary = new(questionnaires.ToDictionary(type => type.DisplayName, type => type.Id));
    }

    private Task CreateQuestion()
    {
        if (CheckNameUniqueness())
        {
            if (currentQuestion.QuestionType != QuestionType.Enumeration)
            {
                currentQuestion.Options = null;
            }

            questionnaire.Questions.Add(currentQuestion);
            currentQuestion = new()
            {
                DisplayName = "",
                JsonName = "",
                Options = new(),
            };
        }

        return Task.CompletedTask;
    }

    private bool CheckNameUniqueness()
    {
        message.Reset();

        var result = true;

        var displayNameIsBusy = questionnaire.Questions.Any(question => question.DisplayName == currentQuestion.DisplayName);
        var jsonNameIsBusy = questionnaire.Questions.Any(question => question.JsonName == currentQuestion.JsonName);

        if (displayNameIsBusy)
        {
            message.SetDangerText("Отображаемое имя уже занято");
            result = false;
        }
        else if (jsonNameIsBusy)
        {
            message.SetDangerText("Json-имя уже занято");
            result = false;
        }
        else
        {
            message.SetSuccessText("Добавлен вопрос \n");
        }

        return result;
    }

    private async Task Send()
    {
        var displayNameIsUniqueness = await Mediator.Send(new CheckDisplayNameUniquenessQuery(questionnaire.DisplayName));
        if (displayNameIsUniqueness)
        {
            var questionnaireEntity = Mapper.Map<Structure>(questionnaire);
            await Mediator.Send(new CreateOrChangeEntityCommand<Structure>(questionnaireEntity));

            questionnaire = new()
            {
                DisplayName = "",
                Questions = new(),
            };

            message.SetSuccessText("Добавлен опрос");
        }
        else
        {
            message.SetDangerText("Имя опроса уже занято");
        }
    }
}
