@page "/root/createQuestionnaire/"

@using AutoMapper
@using MediatR
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Domain.Entities
@using Questionnaire.Infrastructure.Commands.Requests.Questionnaires
@using Questionnaire.Infrastructure.Commands.Requests.UniversalCommands
@using AutoMapper.QueryableExtensions
@using Questionnaire.Infrastructure.Queries.Requests.UniversalQueries
@using System.Collections.Concurrent

<div class="container-fluid">
    <div class="row justify-content-center">
        <EditForm Model=questionnaire OnValidSubmit=Send class="my-3 col-6">
            <ValidationSummary />
            <DataAnnotationsValidator />

            <div class="form-group">
                <label>Отображаемое имя опросника</label>
                <InputText @bind-Value=questionnaire.DisplayName class="form-control" />
            </div>

            @foreach (var question in questionnaire.Questions)
            {
                <div class="form-group">
                    <label>Отображаемое имя вопроса</label>
                    <InputText @bind-Value=question.DisplayName class="form-control" />
                </div>

                <div class="form-group">
                    <label>Имя вопроса в json</label>
                    <InputText @bind-Value=question.JsonName class="form-control" />
                </div>

                <p>Тип: @question.QuestionType</p>
            }

            <button class="btn btn-success">Создать опросник</button>
        </EditForm>

        <QuestionForm CurrentQuestion=@currentQuestion CreateQuestion=CreateQuestion CustomTypes=nameIdPairs />
    </div>
</div>

@code {
    private ConcurrentDictionary<string, int> nameIdPairs = new();
    private QuestionnaireModel questionnaire = new();
    private List<QuestionModel> questions = new();

    private QuestionModel currentQuestion = new();

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    protected async override Task OnInitializedAsync()
    {
        questionnaire = new()
        {
            DisplayName = "",
            Questions = new(),
        };
        
        currentQuestion = new()
        {
            Options = new(),
        };

        var structures = await Mediator.Send(new GetEntitiesQuery<Structure>());
        var questionnaires = Mapper.Map<List<QuestionnaireModel>>(structures);
        nameIdPairs = new(questionnaires.ToDictionary(type => type.DisplayName, type => type.Id));
    }

    private Task CreateQuestion()
    {
        if (currentQuestion.QuestionType != QuestionType.Enumeration)
        {
            currentQuestion.Options = null;
        }

        questionnaire.Questions.Add(currentQuestion);
        currentQuestion = new()
        {
            DisplayName = "",
            JsonName = "",
            Options = new(),
        };

        return Task.CompletedTask;
    }

    private async Task Send()
    {
        var questionnaireEntity = Mapper.Map<Structure>(questionnaire);
        await Mediator.Send(new CreateOrChangeEntityCommand<Structure>(questionnaireEntity));

        questionnaire = new()
        {
            DisplayName = "",
            Questions = new(),
        };
    }
}
