@page "/root/questionnaireForm"

@using Questionnaire.Domain.Models

<h3>Создать опросник</h3>
<EditForm OnSubmit=CreateQuestionnaire Model=formQuestionnaire Context="Questionnaire">
    <TextInputGroup @bind-ValueInput=formQuestionnaire.DisplayName Label=@DisplayNameLabel />
    <TextInputGroup @bind-ValueInput=formQuestionnaire.JsonName Label=@JsonNameLabel />

    <EditForm OnSubmit=AddQuestion Model=formQuestion Context="Question" class="m-4">
        <h4>Добавить вопрос</h4>
        <TextInputGroup @bind-ValueInput=formQuestion.DisplayName Label=@DisplayNameLabel />
        <TextInputGroup @bind-ValueInput=formQuestion.JsonName Label=@JsonNameLabel />
        <TextInputGroup @bind-ValueInput=formQuestion.DefaultValue Label=@DefaultValueLabel />
        <EnumerationGroup @bind-ValueInput=formQuestion.QuestionType Enumeration="QuestionType" Label=@QuestionTypeLabel />
        <button class="btn btn-primary">Добавить вопрос</button>
    </EditForm>

    @foreach (var question in formQuestionnaire.Questions)
    {
        <EditForm Model=question class="m-4">
            <TextInputGroup @bind-ValueInput=question.DisplayName Label=@DisplayNameLabel />
            <TextInputGroup @bind-ValueInput=question.JsonName Label=@JsonNameLabel />
            <TextInputGroup @bind-ValueInput=question.DefaultValue Label=@DefaultValueLabel />
            <EnumerationGroup @bind-ValueInput=question.QuestionType Enumeration="QuestionType" Label=@QuestionTypeLabel />
        </EditForm>
    }
    <button class="btn btn-success">Создать опросник</button>
</EditForm>

<TextInputGroup Label="23"></TextInputGroup>

@code {
    private QuestionnaireModel formQuestionnaire = new();
    private Question formQuestion = new();

    private const string DisplayNameLabel = "Отображаемое имя вопроса";
    private const string JsonNameLabel = "Имя вопроса в json";
    private const string DefaultValueLabel = "Значение по умолчанию";
    private const string QuestionTypeLabel = "Тип вопроса";

    protected override void OnInitialized()
    {
    }

    private void AddQuestion()
    {
        Question newQuestion = new()
            {
                DisplayName = formQuestion.DisplayName,
                JsonName = formQuestion.JsonName,
                QuestionType = formQuestion.QuestionType,
            };

        formQuestionnaire.Questions.Add(newQuestion);
        StateHasChanged();
    }

    private void CreateQuestionnaire()
    {

    }
}
