@page "/root/"

@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Models

<h3>Опросники</h3>
<table>
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var questionnaire in questionnaires)
        {
            <tr>
                <td>@questionnaire.DisplayName</td>
                <td>@questionnaire.DisplayName</td>
                <td>
                    <a class="btn btn-primary m-3" href="@NavigationLinks.ConcreteQuestionnaire">Перейти</a>
                    <button class="btn btn-danger m-3">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private QuestionnaireModel[] questionnaires =
    {
        new()
        {
            DisplayName = "DisplayName",
            JsonName = "m",
        }
    };

    private Dictionary<QuestionModel, AnswerModel[]> questionAnswerPairs { get; set; } = new();
}
