@page "/interviewee/passingTheQuestionnaire/{questionnaireId:int}"

@using AutoMapper
@using MediatR
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Domain.Entities
@using Questionnaire.Infrastructure.Queries.Requests.UniversalQueries

<h3>@questionnaire.DisplayName</h3>
<EditForm Model=questionnaire>
    @foreach (var question in questions)
    {
        <QuestionDisplay Question=question />
    }
</EditForm>

@code {
    private QuestionnaireModel questionnaire = new();
    private QuestionModel[] questions;
    private AnswerModel[] answers;
    private Dictionary<QuestionModel, AnswerModel> questionsAnswers;

    [Parameter]
    public int QuestionnaireId { get; set; }

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var questionnaireEntity = await Mediator.Send(new GetEntityQuery<QuestionnaireEntity>(QuestionnaireId));
    }
}
