@page "/questioned/passingTheQuestionnaire/{questionnaireId:int}"

@using AutoMapper
@using MediatR
@using Microsoft.AspNetCore.Identity
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Domain.Entities
@using Questionnaire.Domain.Entities.Identity
@using Questionnaire.Infrastructure.Commands.Requests.Answers
@using Questionnaire.Infrastructure.Queries.Requests.Properties
@using Questionnaire.Infrastructure.Queries.Requests.UniversalQueries
@using Microsoft.AspNetCore.Components.Authorization

<h3>@questionnaire.DisplayName</h3>
<EditForm Model=questionnaire OnValidSubmit=Send>
    @foreach (var questionAnswer in questionsAnswers)
    {
        <QuestionDisplay Question=questionAnswer.Key Answer=questionAnswer.Value />
    }
    <button class="btn btn-success">Отправить</button>
</EditForm>

@code {
    private QuestionnaireModel questionnaire = new();
    private Dictionary<QuestionModel, AnswerModel> questionsAnswers = new();

    [Parameter]
    public int QuestionnaireId { get; set; }

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    [Inject]
    private UserManager<ApplicationUser> UserManager { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var questionnaireEntity = await Mediator.Send(new GetEntityQuery<Structure>(QuestionnaireId));
        questionnaire = Mapper.Map<QuestionnaireModel>(questionnaireEntity);

        var propertyAnswerPairs = await Mediator.Send(new GetPropertyAnswerPairsQuery(QuestionnaireId, 6));
        questionsAnswers = Mapper.Map<Dictionary<QuestionModel, AnswerModel>>(propertyAnswerPairs);
    }

    private async Task Send()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.FindByNameAsync(authState.User.Identity.Name);
        
        var answers = Mapper.Map<Dictionary<Property, Answer>>(questionsAnswers);

        await Mediator.Send(new CreateAnswersCommand(answers, user.Id));
    }
}
