@page "/user/answers"

@attribute [Authorize(Roles = RoleConstants.UserRole)]

@using AutoMapper
@using MediatR
@using Questionnaire.Blazor.Models
@using Questionnaire.Conventions.Identity
@using Questionnaire.Domain.Entities
@using Questionnaire.Infrastructure.Commands.Requests.HttpClientRequests
@using Questionnaire.Infrastructure.Commands.Requests.UniversalCommands
@using Questionnaire.Infrastructure.Queries.Requests.Answers
@using Questionnaire.Infrastructure.Queries.Requests.QrlkChats

@inherits QuestionnaireComponentBase

@{
    base.BuildRenderTree(__builder);
}

<table class="table">
    <thead>
        <tr>
            <th>Опрос</th>
            <th>Опрашиваемый</th>
            <th>Чат для отправки</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var answer in answers)
        {
            <tr>
                <td>@answer.QuestionnaireName</td>
                <td>@answer.Email</td>
                <td>
                    <select @bind=@answer.CurrentChatId class="custom-select">
                        @if (answer.Chats != null)
                        {
                            @foreach (var chat in answer.Chats)
                            {
                                <option value=@chat.Id>@chat.Title</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    @if (answer.CurrentChatId == 0)
                    {
                        <p>Нет доступных чатов для отправки</p>
                    }
                    else
                    {
                        <button class="btn btn-primary m-2" @onclick="() => SendAnswers(answer.Id, answer.CurrentChatId)">Отправить</button>
                        <a class="btn btn-primary m-2" href="@NavigationLinks.ConcreteAnswers/@answer.Id">Просмотреть</a>
                    }
                    <button class="btn btn-danger m-2" @onclick="() => OpenRemoveAnswerModal(answer)">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<AnswerModel> answers = new();

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var answerEntities = await Mediator.Send(new GetAllAnswersQuery());
        answers = Mapper.Map<List<AnswerModel>>(answerEntities);

        foreach (var answer in answers)
        {
            if (answer.UserId != null)
            {
                answer.Chats = await Mediator.Send(new GetChatsByUserIdQuery(answer.UserId.Value));
                answer.CurrentChatId = answer.Chats.Select(chat => chat.Id).FirstOrDefault();
            }
        }
    }

    private Task SendAnswers(int answerId, int chatId)
    {
        return Mediator.Send(new SendNotificationToQrlkCommand(answerId, chatId));
    }

    private void OpenRemoveAnswerModal(AnswerModel answer)
    {
        OpenDialog("Внимание", "Вы действительно хотите удалить ответы?", () => RemoveAnswer(answer));
    }

    private Task RemoveAnswer(AnswerModel answer)
    {
        answers.Remove(answer);
        return Mediator.Send(new RemoveEntityCommand<Answer>(answer.Id));
    }
}
