@page "/user/concreteAnswer/{answerId:int}"

@using MediatR
@using Questionnaire.Infrastructure.Models
@using Questionnaire.Infrastructure.Queries.Requests.Answers

@DisplayAnswers(answers)

@code {
    private List<JsonAnswer> answers = new();

    [Parameter]
    public int AnswerId { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    protected override async Task OnInitializedAsync()
    {
        answers = await Mediator.Send(new GetAnswerOnQuestionnaireQuery(AnswerId));
    }

    private RenderFragment DisplayAnswers(List<JsonAnswer> jsonAnswers)
    {
        return __builder =>
        {
            <ol>
                @foreach (var jsonAnswer in jsonAnswers)
                {
                    @if (jsonAnswer.Value != null)
                    {
                        <li>@jsonAnswer.Value</li>
                    }
                    else
                    {
                        @DisplayAnswers(jsonAnswer.Answers)
                    }
                }
            </ol>
        };
    }
}
