@page "/user/createQuestionnaire/"

@attribute [Authorize(Roles = RoleConstants.UserRole)]

@using AutoMapper
@using MediatR
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Services.UserInterfaceDisplay
@using Questionnaire.Domain.Entities
@using Questionnaire.Infrastructure.Commands.Requests.UniversalCommands
@using AutoMapper.QueryableExtensions
@using Questionnaire.Conventions.Identity
@using Questionnaire.Infrastructure.Queries.Requests.Structures
@using Questionnaire.Infrastructure.Queries.Requests.UniversalQueries
@using System.Collections.Concurrent

@inherits QuestionnaireFormBase

<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-4">
            <EditForm Model=questionnaire OnValidSubmit=Send class="my-3">
                <p class=@message.CssClass>@message.Text</p>
                <ValidationSummary />
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label>Отображаемое имя опросника</label>
                    <InputText @bind-Value=questionnaire.DisplayName class="form-control" />
                </div>

                @foreach (var question in questionnaire.Questions)
                {
                    <div class="form-group">
                        <label>Отображаемое имя вопроса</label>
                        <InputText @bind-Value=question.DisplayName class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Имя вопроса в json</label>
                        <InputText @bind-Value=question.JsonName class="form-control" />
                    </div>

                    <p>Тип: @question.QuestionType</p>
                }

                <button class="btn btn-success">Создать опросник</button>
            </EditForm>
        </div>
        <div class="col-7">
            <QuestionForm CurrentQuestion=@currentQuestion CreateQuestion=CreateQuestion CustomTypes=nameIdDictionary />
        </div>
    </div>
</div>

@code {
    private Dictionary<string, int> nameIdDictionary = new();

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    protected async override Task OnInitializedAsync()
    {
        questionnaire = new()
        {
            DisplayName = "",
            Questions = new(),
        };

        currentQuestion = new()
        {
            Options = new(),
        };

        nameIdDictionary = await Mediator.Send(new GetNameIdFromStructuresQuery());
    }

    private Task CreateQuestion()
    {
        if (ValidateQuestion(currentQuestion))
        {
            questionnaire.Questions.Add(currentQuestion);
            currentQuestion = new()
            {
                DisplayName = "",
                JsonName = "",
                Options = new(),
            };
        }

        return Task.CompletedTask;
    }

    private async Task Send()
    {
        var displayNameIsUniqueness = await Mediator.Send(new CheckDisplayNameUniquenessQuery(questionnaire.DisplayName));
        if (displayNameIsUniqueness)
        {
            var questionnaireEntity = Mapper.Map<Structure>(questionnaire);
            await Mediator.Send(new CreateOrChangeEntityCommand<Structure>(questionnaireEntity));

            questionnaire = new()
            {
                DisplayName = "",
                Questions = new(),
            };

            message.SetSuccessText("Добавлен опрос");
        }
        else
        {
            message.SetDangerText("Имя опроса уже занято");
        }
    }
}
