@page "/user/passingTheQuestionnaire/{questionnaireId:int}"

@attribute [Authorize(Roles = RoleConstants.UserRole)]

@using AutoMapper
@using MediatR
@using Microsoft.AspNetCore.Identity
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Models.Questions.Tags
@using Questionnaire.Blazor.Services.Questionnaire
@using Questionnaire.Domain.Entities
@using Questionnaire.Domain.Entities.Identity
@using Questionnaire.Infrastructure.Commands.Requests.Answers
@using Questionnaire.Conventions.Identity
@using Questionnaire.Infrastructure.Models
@using Questionnaire.Infrastructure.Queries.Requests.Properties
@using Questionnaire.Infrastructure.Queries.Requests.Structures
@using Questionnaire.Infrastructure.Queries.Requests.UniversalQueries
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Principal

<h3>@questionnaire.DisplayName</h3>
<EditForm Model=questionnaire OnValidSubmit=SendAnswersQuestions>
    <QuestionnaireDisplay Questionnaire=questionnaire />
    <button class="btn btn-success">Отправить</button>
</EditForm>

@code {
    private QuestionnaireModel questionnaire = new();
    private Dictionary<QuestionModel, AnswerModel> questionsAnswers = new();

    private List<HtmlTag> htmlTags = new();

    private IIdentity identity;

    [Parameter]
    public int QuestionnaireId { get; set; }

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    [Inject]
    private UserManager<ApplicationUser> UserManager { get; set; }

    protected async override Task OnInitializedAsync()
    {
        identity = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;

        var userEntity = await UserManager.FindByNameAsync(identity.Name);
        var user = Mapper.Map<UserModel>(userEntity);

        var questionnaireEntity = await Mediator.Send(new GetStructureQuery(QuestionnaireId));
        questionnaire = Mapper.Map<QuestionnaireModel>(questionnaireEntity);
        QuestionaireManager.PrepareQuestionnaireToDisplay(questionnaire, user.Id);

        foreach (var question in questionnaire.Questions)
        {
            if (question.QuestionType == QuestionType.Custom)
            {
                htmlTags.AddRange(TagsCreator.CreateTags(question));
            }
        }
    }

    private async Task SendAnswersQuestions()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.FindByNameAsync(identity.Name);
        
        var questionsAnswers = Mapper.Map<List<PropertyAnswer>>(questionnaire.QuestionAnswers);

        await Mediator.Send(new SaveAnswersCommand(questionsAnswers, questionnaire.Id, user.Id));
    }
}
