@page "/user/passingTheQuestionnaire/{questionnaireId:int}/{token}"
@page "/user/passingTheQuestionnaire/{questionnaireId:int}"

@using AutoMapper
@using MediatR
@using Microsoft.AspNetCore.Identity
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Services
@using Questionnaire.Blazor.Services.Questionnaire
@using Questionnaire.Blazor.Services.UserInterfaceDisplay
@using Questionnaire.Domain.Entities
@using Questionnaire.Domain.Entities.Identity
@using Questionnaire.Infrastructure.Commands.Requests.Answers
@using Questionnaire.Conventions.Identity
@using Questionnaire.Infrastructure.Models
@using Questionnaire.Infrastructure.Queries.Requests.Properties
@using Questionnaire.Infrastructure.Queries.Requests.QuestionnaireLinks
@using Questionnaire.Infrastructure.Queries.Requests.Structures
@using Questionnaire.Infrastructure.Queries.Requests.UniversalQueries
@using System.Security.Claims

<h3>@questionnaire.DisplayName</h3>
<p class=@message.CssClass>@message.Text</p>
<EditForm Model=questionnaire OnValidSubmit=SendAnswersQuestions>
    <QuestionnaireDisplay Questionnaire=questionnaire />
    <button class="btn btn-success" disabled=@sendIsDisabled>Отправить</button>
</EditForm>

@code {
    private QuestionnaireModel questionnaire = new();

    private bool sendIsDisabled;
    private FormMessage message = new();

    private ClaimsPrincipal userClaims;

    [Parameter]
    public int QuestionnaireId { get; set; }

    [Parameter]
    public string Token { get; set; }

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    [Inject]
    private UserManager<ApplicationUser> UserManager { get; set; }

    protected async override Task OnInitializedAsync()
    {
        userClaims = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;

        var questionnaireEntity = await Mediator.Send(new GetStructureQuery(QuestionnaireId));
        questionnaire = Mapper.Map<QuestionnaireModel>(questionnaireEntity);
        questionnaire.QuestionAnswers = new();

        if (userClaims.IsInRole(RoleConstants.UserRole))
        {
            var userEntity = await UserManager.FindByNameAsync(userClaims.Identity.Name);
            var user = Mapper.Map<UserModel>(userEntity);
            questionnaire.GetQuestionAnswerPairs(user.Id);
        }
        else if (await Mediator.Send(new CheckAccessQuery(Token)))
        {
            questionnaire.QuestionAnswers = questionnaire.GetQuestionAnswerPairs(null);
        }
        else
        {
            NavigationManager.NavigateTo(NavigationLinks.AccesksDenied);
        }
    }

    private async Task SendAnswersQuestions()
    {
        long? userId = null;
        if (userClaims.Identity.IsAuthenticated)
        {
            var user = await UserManager.FindByNameAsync(userClaims.Identity.Name);
            userId = user.Id;
        }

        var questionsAnswers = Mapper.Map<List<PropertyAnswer>>(questionnaire.QuestionAnswers);

        await Mediator.Send(new SaveAnswersCommand(questionsAnswers, questionnaire.Id, userId));

        message.SetSuccessText("Ответы отправлены");
        sendIsDisabled = true;
    }
}
