@page "/user/questionnaires"

@attribute [Authorize(Roles = RoleConstants.UserRole)]

@using AutoMapper
@using MediatR
@using Microsoft.AspNetCore.Http
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Services
@using Questionnaire.Domain.Entities
@using Questionnaire.Infrastructure.Commands.Requests.QuestionnaireLinks
@using Questionnaire.Infrastructure.Commands.Requests.UniversalCommands
@using Questionnaire.Conventions.Identity
@using Questionnaire.Infrastructure.Queries.Requests.UniversalQueries
@using System.Security.Principal

@inherits QuestionnaireComponentBase

@{
    base.BuildRenderTree(__builder);
}

<h3>Опросники</h3>
<table class="table">
    <thead>
        <tr>
            <th>Имя опроса</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var questionnaire in questionnaires)
        {
            <tr>
                <td>@questionnaire.DisplayName</td>
                <td>
                    <a class="btn btn-warning m-3" href="@NavigationLinks.ConcreteQuestionnaire/@questionnaire.Id">Редактировать</a>
                    <button class="btn btn-danger m-3" @onclick="() => OpenRemoveQuestionnaireModal(questionnaire)">Удалить</button>
                    <a class="btn btn-primary m-3" href="@NavigationLinks.PassingTheQuestionnaire/@questionnaire.Id">Пройти</a>
                    <button class="btn btn-primary" @onclick="async () => await GetQuestionnaireLink(questionnaire.Id)">Ссылка на опрос</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<QuestionnaireModel> questionnaires = new();

    [Inject]
    private IMediator Mediator { get; set; }

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IHttpContextAccessor HttpContextAccessor { get; set; }

    protected override Task OnInitializedAsync()
    {
        return UploadQuestionnaires();
    }

    private void OpenRemoveQuestionnaireModal(QuestionnaireModel questionnaire)
    {
        OpenDialog("Внимание", "Вы действительно хотите удалить опрос?", () => Remove(questionnaire));
    }

    private Task Remove(QuestionnaireModel questionnaire)
    {
        questionnaires.Remove(questionnaire);
        return Mediator.Send(new RemoveEntityCommand<Structure>(questionnaire.Id));
    }

    private async Task GetQuestionnaireLink(int questionnireId)
    {
        var link = await Mediator.Send(
            new CreateQuestionnaireLinkCommand(
                HttpContextAccessor.HttpContext.Request,
                NavigationLinks.PassingTheQuestionnaire, questionnireId));

        OpenDialog("Скопируйте ссылку для прохождения опроса", link);
    }

    private async Task UploadQuestionnaires()
    {
        var questionnaireEntities = await Mediator.Send(new GetEntitiesQuery<Structure>());
        questionnaires = Mapper.Map<List<QuestionnaireModel>>(questionnaireEntities);
    }
}
