@using Questionnaire.Blazor.Interfaces
@using Questionnaire.Blazor.Models;
@using Questionnaire.Blazor.Models.Questions


<div class="form-group">
    <label>@Question.DisplayName</label>
    <input type="text" value=@Question.DefaultValue class="form-control col-4" @oninput=SetValue />
</div>

@code {
    [Parameter]
    public TextQuestion Question { get; set; }

    [Parameter]
    public Answer Answer { get; set; }

    [Parameter]
    public EventCallback<string> ValueInputChanged { get; set; }

    private async Task SetValue(ChangeEventArgs eventArgs)
    {
        if (Answer.Value != eventArgs.Value.ToString())
        {
            Answer.Value = eventArgs.Value.ToString();
            await ValueInputChanged.InvokeAsync(Answer.Value.ToString());
        }
    }
}
