@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            <AuthorizeView>
                <Authorized>
                    @Body
                </Authorized>
                <NotAuthorized>
                    <div class="text-center">
                        <h3>Авторизуйтесь</h3>
                        <a href="Identity/Account/Login" class="btn btn-info">Войти</a>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>
