@using Questionnaire.Conventions.Identity

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Опросник</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            @if (context.User.IsInRole(RoleConstants.AdminRole))
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href=@NavigationLinks.RootUsers>
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Пользователи
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href=@NavigationLinks.RootCreateUser>
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Создать пользователя
                    </NavLink>
                </li>
            }
            else if (context.User.IsInRole(RoleConstants.UserRole))
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href=@NavigationLinks.Questionnaires>
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Опросы
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href=@NavigationLinks.CompletedQuestionnaires>
                        <span class="oi oi-home" aria-hidden="true"></span> Пройденные опросы
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href=@NavigationLinks.CreateQuestionnaire>
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Создать опрос
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href=@NavigationLinks.Answers>
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Ответы
                    </NavLink>
                </li>
            }
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
