@inherits BaseQuestionComponent

<label class="col-lg-2" for="@id">@QuestionAnswer.Question.DisplayName</label>
<input type="datetime-local" class="form-control col-lg-9" id="@id" @oninput=Input />

@code {
    protected override void Input(ChangeEventArgs args)
    {
        if (DateTime.TryParse(args.Value.ToString(), out var dateTime))
        {
            QuestionAnswer.Answer.Value = dateTime.ToString("G");
        }
    }
}