@inherits BaseQuestionComponent

<label class="col-lg-2" for="@id">@QuestionAnswer.Question.DisplayName</label>
<textarea class="form-control col-lg-9" id="@id" @oninput=Input rows="5">
    @QuestionAnswer.Answer.Value
</textarea>