@inherits BaseQuestionComponent

<label class="col-lg-2" for="@id">@QuestionAnswer.Question.DisplayName</label>
<input type="text" class="form-control col-lg-9" id="@id" @bind-value="QuestionAnswer.Answer.Value" />