@inherits BaseQuestionComponent<string>

<div class="form-group row justify-content-around">
    <label class="col-lg-2">@Label</label>
    <input class="form-control col-lg-9" />
</div>

@code {
    protected override bool TryParse(string original, out string result)
    {
        if (original != null)
        {
            result = original;
            return true;
        }
        else{
            result = null;
            return false;
        }
    }
}
