@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions

@foreach (var option in Options)
{
    <div class="form-group">
        <InputText @bind-Value=option.DisplayName class="form-control" />
    </div>

    <div class="form-group">
        <InputText @bind-Value=option.JsonName class="form-control" />
    </div>
}

<EditForm Model=currentOption OnValidSubmit=AddOption>
    <ValidationSummary />
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Отображаемое имя варианта ответа</label>
        <InputText @bind-Value=currentOption.DisplayName class="form-control" />
    </div>

    <div class="form-group">
        <label>Имя варианта ответа для json</label>
        <InputText @bind-Value=currentOption.JsonName class="form-control" />
    </div>

    <div class="form-group">
        <button class="btn btn-info">Добавить вариант</button>
    </div>
</EditForm>

@code {
    private OptionModel currentOption = new();

    [Parameter]
    public List<OptionModel> Options { get; set; }

    private void AddOption()
    {
        Options.Add(currentOption);
        currentOption = new();
    }
}
