@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Pages.ReusableComponents.Questions

<div class="form-group row justify-content-around">
    <CascadingValue Value="QuestionAnswer">
        <DynamicComponent Type="componentType" />
    </CascadingValue>
</div>

@code {
    private Type componentType;

    [Parameter]
    public QuestionAnswerModel QuestionAnswer { get; set; }

    protected override void OnInitialized()
    {
        componentType = typeof(QuestionComponentDisplay).Assembly
            .GetTypes()
            .FirstOrDefault(type => type.Name == QuestionAnswer.Question.QuestionType.ToString() + "QuestionComponent");
    }
}
