@using AutoMapper
@using MediatR
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Domain.Entities
@using Questionnaire.Infrastructure.Queries.Requests.UniversalQueries
@using System.Collections.Concurrent

<EditForm Model=CurrentQuestion OnValidSubmit=CreateQuestion class="my-3 col-6">
    <ValidationSummary />
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Отображаемое имя вопроса</label>
        <InputText @bind-Value=CurrentQuestion.DisplayName class="form-control" />
    </div>

    <div class="form-group">
        <label>Имя вопроса в json</label>
        <InputText @bind-Value=CurrentQuestion.JsonName class="form-control" />
    </div>

    <InputRadioGroup @bind-Value=CurrentQuestion.QuestionType class="form-check d-block">
        Тип вопроса
        <div>
            <InputRadio Value="QuestionType.Text" id="Text" />
            <label for="Text">Текст</label>
        </div>
        <div>
            <InputRadio Value="QuestionType.Boolean" id="Boolean" />
            <label for="Boolean">Чекбокс</label>
        </div>
        <div>
            <InputRadio Value="@QuestionType.Number" id="Number" />
            <label for="Number">Номер</label>
        </div>
        <div>
            <InputRadio Value="@QuestionType.DateTime" id="DateTime" />
            <label for="DateTime">Дата время</label>
        </div>
        <div>
            <InputRadio Value="QuestionType.Enumeration" id="Enumeration" />
            <label for="Enumeration">Перечисление</label>
        </div>
        <div>
            <InputRadio Value="QuestionType.Custom" id="Custom" />
            <label for="Custom">Пользовательский</label>
        </div>
    </InputRadioGroup>

    @if (CurrentQuestion.QuestionType == QuestionType.Enumeration)
    {
        <AnswerOptions Options=@CurrentQuestion.Options />
    }
    else if (CurrentQuestion.QuestionType == QuestionType.Custom)
    {
        <div class="form-group">
            <input type="text" list="custom-list" @oninput=SetValue class="form-control" />
            <datalist id="custom-list">
                @if (CustomTypes != null)
                {
                    @foreach (var pair in CustomTypes)
                    {
                        <option value=@pair.Key />
                    }
                }
            </datalist>
        </div>
    }

    <button class="btn btn-success">Добавить вопрос</button>
</EditForm>

@code {
    [Parameter]
    public QuestionModel CurrentQuestion { get; set; }

    [Parameter]
    public Func<Task> CreateQuestion { get; set; }

    [Parameter]
    public Dictionary<string, int> CustomTypes { get; set; }

    private void SetValue(ChangeEventArgs args)
    {
        if (CustomTypes == null)
            return;

        var value = args.Value.ToString();
        if (CustomTypes.ContainsKey(value))
        {
            CurrentQuestion.CustomTypeId = CustomTypes[value];
        }
    }
}
