@page "/root/userManage/createUser"

@attribute [Authorize(Roles = RoleConstants.Admin)]

@using AutoMapper
@using MediatR
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Services.UserInterfaceDisplay
@using Questionnaire.Domain.Entities.Identity
@using Questionnaire.Infrastructure.Commands.Requests.Identity
@using Questionnaire.Infrastructure.Queries.Requests.Identity
@using Questionnaire.Infrastructure.Conventions;

<EditForm Model=user OnValidSubmit=Send>
    <ValidationSummary />
    <DataAnnotationsValidator />
    <p class=@message.CssClass>@message.Text</p>

    <div class="form-group">
        <label>Почта</label>
        <InputText type="email" @bind-Value=user.Email class="form-control" />
    </div>

    <div class="form-group">
        <label>Пароль</label>
        <InputText type="password" @bind-Value=user.Password class="form-control" />
    </div>

    <div class="form-group">
        <label>Роль</label>
        <InputSelect @bind-Value=user.Role class="custom-select">
            <option value=@RoleConstants.Questioned>Опрашиваемый</option>
            <option value="@RoleConstants.Admin">Администратор</option>
        </InputSelect>
    </div>

    <button class="btn btn-success">Отправить</button>
</EditForm>

@code {
    private FormMessage message = new();

    private UserModel user = new()
    {
        Role = RoleConstants.Questioned,
    };

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    private async Task Send()
    {
        var applicationUser = Mapper.Map<ApplicationUser>(user);
        var result = await Mediator.Send(new CreateUserCommand(applicationUser, user.Password, user.Role));

        if (result.Successed)
        {
            message.SetSuccessText(result.Message);
        }
        else
        {
            message.SetDangerText(result.Message);
        }
    }
}
