@page "/root/userManage/"

@attribute [Authorize(Roles = RoleConstants.Admin)]

@using AutoMapper
@using MediatR
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Services.UserInterfaceDisplay
@using Questionnaire.Domain.Entities.Identity
@using Questionnaire.Infrastructure.Commands.Requests.Identity
@using Questionnaire.Conventions.Identity
@using Questionnaire.Infrastructure.Queries.Requests.Identity
@using System.Security.Principal

<p class=@message.CssClass>@message.Text</p>

@foreach (var user in users)
{
    <EditForm Model=user OnValidSubmit="() => ChangeUser(user)">
        <ValidationSummary />
        <DataAnnotationsValidator />

        <p class="d-inline">@user.Email</p>
        <InputText @bind-Value=user.Password class="form-inline d-inline" />

        <button class="btn btn-warning">Изменить</button>
        @if (identity.Name != user.Email)
        {
            <button type="button" @onclick="() => RemoveUser(user)" class="btn btn-danger">Удалить</button>
        }
    </EditForm>
}

@code {
    private IIdentity identity;

    private UserModel[] users = Array.Empty<UserModel>();

    private FormMessage message = new();

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    protected async override Task OnInitializedAsync()
    {
        identity = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        await Load();
    }

    private async Task ChangeUser(UserModel userModel)
    {
        var applicationUser = Mapper.Map<ApplicationUser>(userModel);
        var result = await Mediator.Send(new ChangeUserCommand(applicationUser, userModel.Password));

        message.ActionNotification(result.Message, result.Successed);
    }

    private async Task RemoveUser(UserModel user)
    {
        var result = await Mediator.Send(new RemoveUserCommand(user.Id));
        await Load();

        message.ActionNotification(result.Message, result.Successed);
    }

    private async Task Load()
    {
        var applicationUsers = await Mediator.Send(new GetAllUsersQuery());
        users = Mapper.Map<UserModel[]>(applicationUsers);
    }
}
