@page "/questioned/passingTheQuestionnaire/{questionnaireId:int}"

@using AutoMapper
@using MediatR
@using Microsoft.AspNetCore.Identity
@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using Questionnaire.Blazor.Models.Questions.Tags
@using Questionnaire.Domain.Entities
@using Questionnaire.Domain.Entities.Identity
@using Questionnaire.Infrastructure.Commands.Requests.Answers
@using Questionnaire.Infrastructure.Queries.Requests.Properties
@using Questionnaire.Infrastructure.Queries.Requests.Structures
@using Questionnaire.Infrastructure.Queries.Requests.UniversalQueries
@using Microsoft.AspNetCore.Components.Authorization

<h3>@questionnaire.DisplayName</h3>
<EditForm Model=questionnaire OnValidSubmit=Send>
    @foreach (var questionAnswer in questionsAnswers)
    {
        <QuestionDisplay Question=questionAnswer.Key Answer=questionAnswer.Value HtmlTags=htmlTags />
    }
    <button class="btn btn-success">Отправить</button>
</EditForm>

@code {
    private QuestionnaireModel questionnaire = new();
    private Dictionary<QuestionModel, AnswerModel> questionsAnswers = new();

    private List<HtmlTag> htmlTags = new();

    [Parameter]
    public int QuestionnaireId { get; set; }

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IMediator Mediator { get; set; }

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    [Inject]
    private UserManager<ApplicationUser> UserManager { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.FindByNameAsync(authState.User.Identity.Name);

        var questionnaireEntity = await Mediator.Send(new GetStructureQuery(QuestionnaireId));
        questionnaire = Mapper.Map<QuestionnaireModel>(questionnaireEntity);

        foreach (var question in questionnaire.Questions)
        {
            if (question.QuestionType == QuestionType.Custom)
            {
                htmlTags.AddRange(TagsCreator.CreateTags(question));
            }
        }
    }

    private async Task Send()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.FindByNameAsync(authState.User.Identity.Name);
        
        var answers = Mapper.Map<List<Property>>(questionnaire.Answers);

        await Mediator.Send(new SaveAnswersCommand(answers, user.Id));
    }
}
