@page "/Main"

@using Questionnaire.Blazor.Models
@using Questionnaire.Blazor.Models.Questions
@using System.ComponentModel

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick=Click>Нажать</button>

<input class="custom-select" @attributes=tags />

@code{
    private QuestionModel Question;
    private AnswerModel Answer;
    private Dictionary<string, object> tags = new()
    {
        { "type", "datetime-local" }
    };

    protected override void OnInitialized()
    {
        Question = new();
        Question.DisplayName = "name";
        Answer = new();
        Answer.Name = "popka";
        //comp.Question = question = new();
        //comp.Answer = answer = new();
    }

    public RenderFragment Draw()
    {
        return __builder =>
        {
            <TextInputGroup @bind-ValueInput=Answer.Name Label=@Question.DisplayName />
        };
    }

    private void Click()
    {
        
    }
}